

:root {
  --bg-color: #f3f4f6;     
  --text-color: #111827;    /* tmavý text */
  --card-bg: #ffffff;
  --accent: #e91e63;       
}

/* DARK mode */
body[data-theme="dark"] {
  --bg-color: #111827;
  --text-color: #f9fafb;
  --card-bg: #1f2937;
}

body {
  margin: 0;
  padding: 0.5rem;
  font-family: system-ui, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

h1, h2, p, a, li {
  color: var(--text-color);
}

/* POSUVNÍK PRO ZMĚNU MODU */
.theme-toggle {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 1rem 0 2rem;
}

.theme-switch,
#theme-switch {
  position: absolute;
  opacity: 0;
}

/*  posuvník  */
.switch {
  width: 50px;
  height: 25px;
  background: #f0a262;           
  border-radius: 999px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  transition: background 0.25s ease;
}

/* kolečko uvnitř */
.switch::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0.2px;
  left: 0.2px;
  background: #ffffff;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  transition: transform 0.25s ease;
}

#theme-switch:checked + .switch {
  background: linear-gradient(135deg, #751111, #501d63);
}

#theme-switch:checked + .switch::before {
  transform: translateX(24px);
}

/* NAVIGATION */
nav {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  background-color: var(--the-black);
  padding: 16px 32px;
  margin-bottom: 10px;
}

.nav-items {
  display: flex;            
  gap: 130px;                 
  list-style: none;        
  padding: 0;
  margin: 0;
}

.navigation li {
  padding: 5px;
  display: inline-block;
}

.n-item{
    a:hover{
    text-decoration: none;
   }
}

/* HERO SEKCE */
.hero{
    height: 100vh;
    background-image: url(Waves-1.jpg);
     background-size: cover;
  background-position: center;
    display: flex;
} 
.hero-wrapper{
    position: relative;
    height: 50%;
    width: 70%;
}
.hero-section{
    position: relative;
    top: 500px;
    right: 10px;
    text-align: right;
    font-size: 32px;
    h1{color: #111827;}
    
}
.theme-toggle {
  position: absolute;     
  top: 10px;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* FOOTER */
.footer{
  background: var(--the-black);              
  color: #b3b3b3;                  
  padding: 40px 24px;              
}

.footer_inner{
  max-width: 1100px;               
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 28px 56px;                  
}

.footer ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 10px;                      
}

.footer a{
  color: #b3b3b3;                  
  text-decoration: underline;    
  text-underline-offset: 2px;
}

.footer a:hover,
.footer a:focus{
  color: #e6e6e6;                 
  outline: none;
}